html {
    font-size: 20px;
}
.input {
    text-align: center;
    margin: 5rem;
}
.inputvalue {
    height: 2.5rem;
    width: 30rem;
    font-size: 1.5rem;
    background-color: #e7e7e7;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 0px;
    border-radius: 0.5rem;
}
.button {
    height: 2.5rem;
    font-size: 1rem;
    width: 5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 0px;
    border-radius: 0.5rem;
}
.display {
    text-align: center;
}
.temp {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.desc {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
